# IntelliJ project files
/.idea
.idea
*.iml
out
gen
.settings
voldemort-business/target
voldemort-business/.classpath
voldemort-core/target
voldemort-business/.factorypath
voldemort-business/.project
voldemort-core/.classpath
voldemort-core/.factorypath
voldemort-core/.project
voldemort-func/target
voldemort-func/.classpath
voldemort-func/.project
voldemort-springboot-autoconfigure/.classpath
voldemort-springboot-autoconfigure/.project
voldemort-springboot-starter/.classpath
voldemort-springboot-starter/.project
.project
voldemort-springboot-autoconfigure/target
.vscode
voldemort-springboot-autoconfigure/.factorypath
voldemort-springboot-starter/.factorypath
voldemort-test/.factorypath
voldemort-test/.classpath
